<!doctype html>
<html class="no-js" lang="en">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ Todo: een simpele todo lijst</title>

    {% block javascripts %}
        {#@todo: jquery#}
        {#@todo: implement popup class#}
        {#<script type="text/javascript" src="{{ asset('assets/js/popup.js') }}"></script>#}

        {#jquery#}
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

        {#bootstrap#}
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        {#end bootstrap#}

        <script type="text/javascript" src="{{ asset('bundles/todolist/js/popup.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/todolist/js/todolist.js') }}" ></script>
    {% endblock %}

    {% block stylesheets %}
        {#bootstrap#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/todolist/style/css/style.css') }}" />
    {% endblock %}
</head>

<body>

<div class="container">
<div class="jumbotron text-center">
    <h1>@ TODO</h1>
    <p>Een simpele todo lijst.</p>
</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">To do lijst</a></li>
                <li><a href="/add-todo-items-view">Nieuw item</a></li>
                <li><a href="/completed-todo-items">Voltooide items</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>